main {
   height: 100vh;
   max-height: 120vh;
}

.footer-ment {
   font-size: 12px;
}


button {
   border: 0;
   padding: 8px 5px 8px 5px;
   border-radius: 10px;
   font-weight: bold;
   margin-right: 2px;
}

button:hover {
   color: #333;
   background-color: #ddd;
   cursor: pointer;
   border: 0;
   font-weight: bold;
}


@media (max-width: 750px) {
   footer {
      display: none;
   }
}