.headerBox{
    background-color: #fff;
}

.headerTypo{
    font-weight: 100;
    text-align: center;
    cursor: pointer;
}


.schBarOutline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #ddd 2px solid;
    border-radius: 20px;
    margin: 10px 10px;
}

.schBarItemBox{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
   align-items: center;
}

.btnBox{
    display: flex;
    justify-content: center;
    margin:20px 0 20px 0;
}

.btn{
    width: 80px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    background-color: #333;
    color:#fff;

}

.btn:hover{
    background-color: #ddd;
    color:#333;
    border: 2px #333 solid;
    box-sizing:border-box;
}

.schMiniTitle{
  font-size: 15px;
  font-weight: 100;
}

footer{
    border-top: #ddd 1px solid;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px
}

.list{
    position: absolute;
    top:200px;
    
}
