.headerBox {
    background-color: #fff;
}

.headerTypo {
    font-weight: 100;
    text-align: center;
    cursor: pointer;
}

.schSection {
    display: flex;
    width: 700px;
    justify-content: space-between;
    padding: 20px;
}

.schBarOutline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #ddd;
    margin-bottom: 20px;
 

}

.schBarItemBox {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

.btnBox {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.schMiniTitle {
    font-size: 15px;
    font-weight: 100;
}

footer {
    border-top: #ddd 1px solid;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px
}

.list {
    position: absolute;
    top: 200px;

}

.select-box {
    width: 250px;

}

.airline {
    width: 250px;
}

.date-title {
    margin-right: 10px;
    font-size: medium;
    color: #333;
    font-weight: 600;
    cursor:default;
}

.date-select {
    border: 0.5px solid #a8a8a8;
    padding: 18px;
    border-radius: 5px;
    color: #333;
    font-size: 15px;
    width: 170px;
}

.schBtn{
width: 100%;
}