.headerIconBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.homeImg {
    cursor: pointer;
    padding-right: 10px;
    height: 40px;
    width: 40px;
}

.headerTypo {
    color: #317fc9;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    font-family: 'Jua', sans-serif;

}


.schSection {
    display: flex;
    justify-content: space-between;
    width: 700px;
    padding: 20px;
}

.schBarOutline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;


}

.schBarItemBox {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    align-items: center;
}

.btnBox {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.schMiniTitle {
    font-size: 15px;
    font-weight: 100;
}

footer {
    border-top: #ddd 1px solid;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px
}

.list {
    position: absolute;
    top: 200px;

}

.select-box {
    width: 250px;

}

.airline {
    width: 250px;
}

.date-title {
    margin-right: 10px;
    font-size: medium;
    color: #333;
    font-weight: 600;
    cursor: default;
}

.date-select {
    border: 0.5px solid #a8a8a8;
    padding: 18px;
    border-radius: 5px;
    color: #333;
    font-size: 15px;
    width: 170px;
}

.schBtn {
    width: 100%;
}

@media (max-width: 750px) {
    .homeImg {
        height: 20px;
        width: 20px;
    }

    .headerTypo {
        font-size: 20px;
        color: #fff
    }

    .headerloginBtn {
        display: none;
    }

    header {
        margin: 0px;
        background-color: #317fc9;
    }

    .schBarOutline {
        display: none;
    }

    .schBtn {
        width: 93%;
        margin-top: 5px;
    }

    .select-box {
        width: 150px;
    }

    .airline {
        width: 150px;
        margin: 0px;
    }

    .mobileSchBarOutline {
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px #ddd solid;
        padding: 10px;
        cursor: pointer;
    }


    .airportSelect {
        position: relative;
        width: 90%;
    }

    .selectbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;
        align-items: center;

        border: 1px #ddd solid;
        margin: 2px;
        border-radius: 10px;
        height: 40px;
    }

    .selectbox:hover {
        background-color: #317fc930;
    }

    .selectOption {
        background-color: #fff;
        position: absolute;
        width: 98%;
        z-index: 100;
        overflow-y: scroll;
        height: 300px;  
        border:1px solid #ddd;
        border-radius: 10px;
    }

    .selectTypo {
        border-bottom: 1px #ddd solid;
        text-align: center;
        padding: 10px 0px 10px 0px;
        margin: 0px;
    }

    .date-select {
        background-color: #fff;
        width: 300px;
        padding: 5px;
        border: #ddd 1px solid;
        font-size: medium;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
    }
    .dateBox{
        display: flex;
        align-items: center;
        border:1px solid #ddd;
        width: 87%;
        justify-content: space-around;
        border-radius: 10px;
        box-sizing: content-box;
        height: 45px;
        margin: 2px;
        padding: 0px 5px;
    }

    .date-title{
        font-weight: 200;
        font-size: 15px;
        min-width: 60px;
    }

    .menuItem{
        border-bottom: 1px dashed #ddd;
        cursor: pointer;
    }

    .menuItem:hover{
        background-color: #efefef;
    }

    .menuBox{
        width: 200px;
    }

}


@media (min-width:750px) {
    .mobileSchBarOutline {
        display: none;
    }

    .headerMenuIconBox{
        display: none;
    }
}