.ment {
    font-weight: bold;
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.tableBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.btnBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    margin: 0px;
}

.chartBtn {
    background-color: #317fc9;
    color: #fff;
}

.chartBtn:hover {
    background-color: #317fc96b;
    color: #fff;
}

.modalBox {
    /*모달 가장 바깥쪽*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    min-height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.chartmodalBox {
    /* chart 모달 안쪽 */
    width: 100%;
}

.modalCloseBtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
}

.modalCloseBtn:hover {
    font-weight: bold;
    color: #333;
    background-color: #ddd;
}

.arrowIcon {
    font-size: 20px;
    color: #333;
}


.modalTypoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: default;
    margin: 0px 20px;
    border-bottom: 1.5px solid #ddd;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

.closeIcon:hover {
    color: #afafaf
}


.ag-theme-alpine {
    position: relative;
}

.delete-warning {
    background-color: #ddd !important;
}

.update-warning {
    background-color: rgb(255, 153, 0) !important;
}

.add-warning {
    background-color: rgba(0, 132, 255, 0.103) !important;
}

.final-update-chkbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 50;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.modalbox {
    overflow-y: scroll;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px #ddd solid;
    max-height: 400px;
}

.modalbox::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.modalbox::-webkit-scrollbar-thumb {
    background-color: #317fc988;
    border-radius: 6px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
    height: 6px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
    background-color: #317fc988;
    border-radius: 10px;
}


.ag-body-vertical-scroll-viewport::-webkit-scrollbar {
    width: 6px;
}

.ag-body-vertical-scroll-viewport::-webkit-scrollbar-thumb {
    background-color: #3180c988;
    border-radius: 10px;

}

.modal-btn {
    margin-top: 10px;
}

.loadingProgress {
    position: absolute;
    top: 50%;
}

.no-data-ment {
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    color: #575757
}

.finish-modal-typo {
    margin: 0px;
    font-size: 14px;
}

.modal-title {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    flex: 1;
    border-bottom: 0.5px dashed #333;
    padding: 5px;
    width: 100%;
}

.modal-itembox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.finish-modal-item-box {
    width: 90%;
    padding: 10px 0px;
    padding-left: 2px;
}

.close-btn {
    width: 100%;
    margin-top: 10px;
}

.paginationTabBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
}

.pageNumBox {
    border-radius: 10px;
    padding: 5px;
    background-color: #3180c95d;
}

.page {
    margin: 0px;
    font-weight: bold;
    font-size: 12px;
}

.gridTableBox {
    height: 500px;
    width: 90%;
}

.ag-header-cell-label {
    display: flex;
    justify-content: center;
    align-items: center;

}

.add {
    color: #317fc9;
}

.update {
    color: rgb(255, 153, 0);
}

.delete {
    color: #b6b6b6;
}

.modalText {
    font-size: small;
    text-align: center;

}

.modalBtnBox {
    display: flex;
    flex-direction: row;
}

.modalBtn {
    width: 100%;
}

.completeBtn {
    background-color: #2196f31a;
}

.completeBtn:hover {
    background-color: #2195f333;
}


.gridheaderBtnBox {
    display: flex;
}



@media (max-width: 750px) {

    .chartIcon {
        background-color: #f0f0f0;
        padding: 4px 8px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        margin-right: 2px;
    }

    .chartIcon:hover {
        background-color: #ffbbbb;
    }


    .closeIcon {
        top: 15px;
        right: 50px;
    }

    .modalBox {
        /*모달 가장 바깥쪽*/
        width: 350px;
        min-height: 300px;
    }

    .modifyBtnBox {
        display: none;
    }

    .pageControler {
        margin-top: 5px;
    }

    .gridTableBox {
        height: 70%;
        width: 95%;
        position: relative;
    }

    .tableBox {
        justify-content: start;
        align-items: center;
    }

    .totalNum {
        position: absolute;
        right: 20px;
        top: 30px;
        font-weight: 500;
        font-size: 13px;
    }

    .ment {
        font-size: small;
        color: #333;
        background-color: #2196f31a;
        padding: 10px;
        border-radius: 10px;
    }

    .ag-row {
        padding: 0;
        margin: 0;
        height: 30px;
    }

    .ag-cell {
        font-size: 12px;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ag-text-field-input {
        width: 50px;
        height: 30px;
    }

    .ag-cell-inline-editing {
        width: 100%;
        height: 30px;
    }

    .final-update-chkbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        border: 1px solid #ddd;
        border-radius: 20px;
        box-shadow: 50;
        padding: 1rem;
        background-color: #fff;
        display: flex;
        flex-direction: column;

    }

    .chartmodalBox {
        width: 300px;
    }

}